
    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #1C448E;
    }

    header {
      background-color: white;
      position: relative;
      padding: 8px 12px;
      display: flex;
      align-items: center;
    }

    header h1 {
      font-size: 14px;
      color: #0085ff;
      margin: 0;
      margin-left: 10px;
    }
  
    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 40px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      display: grid;
      place-items: center;
      margin-top: 100px;
    }
    h1 {
      text-align: center;
    }
    .login-form {
      margin-bottom: 20px;
    }
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #1e90ff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    input[type="submit"]:hover {
      background-color: #1565c0;
    }
    .text-center {
      text-align: center;
    }
    .text-muted {
      color: #888;
    }




    /* Style for the back button */
    .back-button {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #1C448E;
      color: white;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
    }

    /* Style for the back button on hover */
    .back-button:hover {
      background-color: #F4FDFF;
      color: #1C448E;
    }